@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
 
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
}
body{
    background-color: black;
}

.main{
    background: url(background.jpg);
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-size: max(1200px,100vw);
   
}
.box{
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 62px;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: 'martel sans',sans-serif;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding:0 30px;
   
}
.hero> :nth-child(1){
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.hero>  :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{
    height: 7px;
    background-color:rgb(46, 44, 44);
    position: relative;
    z-index: 20;
  

}
.btn{
    background-color: rgba(248, 243, 243, 0.021);
    font-weight:400;
    padding: 3px 8px;
    color:white;
    border-radius: 4px;
    border: 1px solid white;

}
.btn2{
    background-color: red;
    color: white;
    

}
.btin{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;

}
.main input{
    padding: 7px 101px 8px 14px;
    color: white;
     font-size: 13px;
     border-radius: 4px;
    border: 1px solid rgba(246,238,238,0.5);
     background-color: rgba(23, 23, 23, 0.7);
}
.btn22{
    background-color: red;
    color: white;
    background-color: red;
    color: white;
    padding: 3px 24px;
     font-size: 20px;
     border-radius: 4px;
     border: 0;
}
.First-sec{
    display:flex;
 
    justify-content:center;
    max-width: 70vw;
    margin: auto;
    color: white;
 align-items:center;
    justify-content:center;
    flex-wrap: wrap;
}

.secimg{
    position: relative;
}
.secimg img{
   width: 555px;
   position: relative;
   z-index: 10;
}
.secimg video{
    position:absolute;
    top: 26px;
    right: 26px;
    width: 461px;
}
.First-sec > div{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.First-sec > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}

.First-sec > div :nth-child(2){
    font-size: 24px;
    
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faqbox:hover {
    background-color: rgb(37, 36, 36);
}
.faqbox {
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 10px auto;
    cursor: pointer;
    color: white;  
}
footer{
    color: white;
  padding:14px;
 max-width: 60vw;
  margin:auto;
  
}
.questions{
    padding: 34px 0;
}
.footer a{
    font-size: 14px;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
  
    margin: auto;
}

    
@media  screen and (max-width:1300px){
    nav{
        max-width: 90vw;
    }
    .secimg img{
        width: 305px;
         
     }
      .secimg video{
        width: 237px;
    }
    .hero> :nth-child(1){
        font-size: 32px;
        
    }
    .hero> :nth-child(2){
        font-size: 18px;
        
    }
    .hero> :nth-child(3){
        font-size: 18px;
        
    }
    .btin{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
    
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }
    footer{
        max-width: 90vw;
    }
    .footer-item{
        align-items: center;
    }

    
}       
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;

}
@media  screen and (max-width: 2000px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

    }
}